<% include partials/header %>
<div class="container">
    <div class="row">
       <div style="width: 30%; margin: 25px auto;">
            <h1 style="font-size: 2.3rem;margin-bottom: 20px">REGISTER</h1>
            <form action="/dashboard/<%=currentUser._id%>?_method=PUT" method="POST">
                <div class="form-group">
                    <label>Address: </label>
                    <input class="form-control" type="text" name="user[address]" value="<%=currentUser.address%>">
                </div>
                <div class="form-group">
                        <label>Contact: </label>
                    <input class="form-control" type="text" name="user[contact]" value="<%=currentUser.contact%>">
                </div>
                <div class="form-group">
                    <input class="btn btn-lg auth2 btn-block" type="submit" value="UPDATE">
                </div>
            </form>
            <a href="/" class="back">Go Back</a>
        </div>
    </div>
</div>
<footer class="xyz">
    <div class="footer-bottom text-center">
        <div class="container">
            <div class="footer-logo">
                <a href="/"><span>Find</span>Stuff</a>
            </div>
            <div class="footer-social-icons">
                <ul>
                    <li><a class="facebook" href="#"><span>Facebook</span></a></li>
                    <li><a class="twitter" href="#"><span>Twitter</span></a></li>
                    <li><a class="flickr" href="#"><span>Flickr</span></a></li>
                    <li><a class="googleplus" href="#"><span>Google+</span></a></li>
                    <li><a class="dribbble" href="#"><span>Dribbble</span></a></li>
                </ul>
            </div>
            <div class="copyrights">
                <p> Find Stuff. All Rights Reserved | Design by  Piyush Devansh and Aman Raj</p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</footer>
</body>
</html>