<% include partials/header%>
<div class="main-banner banner text-center">
        <div class="container">
            <h1>Sell and Buy   <span class="segment-heading">    anything online </span> with Find Stuff</h1>
    
        </div>
</div>
<div class="container">
        <div class="row">
          <div class="col-md-2 col-6">
                <a href="/laptops">
                    <div class="focus-border">
                        <div class="focus-layout">
                            <div class="focus-image"><i class="fa fa-laptop"></i></div>
                            <h4 class="clrchg">Laptops</h4>
                        </div>
                    </div>
                </a>
          </div>
          <div class="col-md-2 col-6">
                <a href="/coolers">
                    <div class="focus-border">
                        <div class="focus-layout">
                            <div class="focus-image"><i class="fas fa-temperature-low"></i></i></div>
                            <h4 class="clrchg"> Coolers</h4>
                        </div>
                    </div>
                </a>
          </div>
          <div class="col-md-2 col-6">
                <a href="/mobiles">
                    <div class="focus-border">
                        <div class="focus-layout">
                            <div class="focus-image"><i class="fas fa-mobile"></i></div>
                            <h4 class="clrchg">Mobiles</h4>
                        </div>
                    </div>
                </a>
          </div>
          <div class="col-md-2 col-6">
                    <a href="/books">
                    <div class="focus-border">
                        <div class="focus-layout">
                            <div class="focus-image"><i class="fas fa-book"></i></div>
                            <h4 class="clrchg">Books</h4>
                        </div>
                    </div>
                </a>
              </div>
          <div class="col-md-2 col-6">
                    <a href="/accessories">
                    <div class="focus-border">
                        <div class="focus-layout">
                            <div class="focus-image"><i class="far fa-keyboard"></i></div>
                            <h4 class="clrchg">Accessories</h4>
                        </div>
                    </div>
                </a>
          </div>
          <div class="col-md-2 col-6">
                    <a href="/others">
                    <div class="focus-border">
                        <div class="focus-layout">
                            <div class="focus-image"><i class="fas fa-binoculars"></i></div>
                            <h4 class="clrchg">Others</h4>
                        </div>
                    </div>
                </a>
          </div>
        </div>
</div>
<div class="mobile-app">
        <div class="container">
            <div class="row">
                    <div class="col-12 col-md-5 app-left">
                            <a><img src="images/app.jpg" alt=""></a>
                        </div>
                        <div class="col-12 col-md-7 app-right">
                            <h3>Find Stuff App is the <span>Easiest</span> way for Selling and buying second-hand goods</h3>
                
                            <div class="clearfix"> </div>
                
                        </div>
            </div>
            <div class="clearfix"></div>
        </div>
</div>

<% include partials/footer%>