
.logo {
    float: left;
}
.logo a {
	font-family: 'Ubuntu Condensed', sans-serif;
	font-size: 50px;
    color: #01a185;
	text-decoration:none;
}
.logo a span {
	color:#f3c500;
}

.auth{
	background-color: rgb(1, 161, 133);
	color: rgb(255, 255, 255);
	border: white;
}

.auth:hover{
	background-color:#f3c500;
	color: white;
	border: white;
}
.auth2{
	background-color:#f3c500;
	color: white;

	border: white;
}

.auth2:hover{
	background-color: rgb(1, 161, 133);
	color: rgb(255, 255, 255);
}